.navegacao {
    background-color: rgba(0, 162, 255, 0.267);
    background-image: linear-gradient(to right, rgba(0, 60, 255, 0.404), rgba(0, 162, 255, 0.267));
    height: 50px;
}

.navegacao .nav {
    padding-top: 5px;
}

.geral {
    display:grid;
    grid-template-columns: 20% 75% 5%;
    height: 100%;
    width: 100%;
}

.coluna-um {
    background-image: linear-gradient(180deg, rgba(0, 60, 255, 0.514), rgba(0, 162, 255, 0.747));
    width: 100%;
    height: 619px;
    border-right: 1px solid rgba(0, 0, 0, 0.048);
}

.coluna-um li {
    width: 100%;
    margin-top: 15px;
}

.coluna-um a {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 50px;
}

.coluna-um a:active {
    background-color: rgba(0, 162, 255, 0.267);
}

.coluna-um a:hover {
    background-color: rgba(0, 162, 255, 0.267);
}


.coluna-dois {
    width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.048);
    background-image: url("../img/Background-aluno-main.jpg");
    background-size:cover;
    background-position: center;
}

.text {
    cursor: pointer;
}

.coluna-tres {
    width: 100%;
    
}

li {
    list-style-type: none;
    text-decoration: none;
    padding-top: 20px;
  }

  i {
      padding-right: 10px;
  }


.geral a {
    text-decoration: none;
    padding: 10px;
}

.coluna-um-text text{
    padding-right: 50%;
    cursor: pointer;
}

.coluna-dois-text text{
    padding-right: 126px;
}

.coluna-tres-text text{
    padding-right: 147px;
}

.coluna-quatro-text text{
    padding-right: 120px;
}

.coluna-cinco-text text{
    padding-right: 97px;
}

.sair {
    color: white;
    background-color: none;
    margin-top: 92%;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.541);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .coluna-um-text a {
        padding-right: 10px;
    }
    
    .coluna-dois-text a {
        padding-right: 10px;
    }
    
    .coluna-tres-text a {
        padding-right: 10px;
    }
    
    .coluna-quatro-text a {
        padding-right: 10px;
    }
    
    .coluna-cinco-text a {
        padding-right: 2px;
    }

    .coluna-tres img {
        width: 20px;
        height: 20px;
    }
    .coluna-um {
        height: 600px;
    }
    .sair {
        margin-top: 45%;
    }
}

@media screen and (max-width: 670px) {
    .coluna-um {
        height: 470px;
    }
    .text{
        display: none;
    }
    .geral {
        grid-template-columns: 10% 80% 10%;
    }
    .sair i{
        display: none;
    }
}







