body {
    background-image: url('../img/Professor-back.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 70px;
    background-position-x:25%;
}

.voltar{
    width: 200px;
}

.voltar-background{
    margin: 20px 50px 10px;
    padding: 10px 10px 10px;
    background: white;
    width: 160px;
    border-radius: 80px;
    cursor: pointer;
}

.voltar-background:hover {
    background-color: rgba(0, 162, 255, 0.089);
}

.fa-chevron-left {
    padding-right: 10px;
}

.link-voltar {
    text-decoration-line: none;
}

.form {
    background-color: rgba(255, 255, 255, 0.959);
    width: 500px;
    margin: auto;
    margin-top: 100px;
    padding: 50px 50px 50px;
    border-radius: 50px;
    border: rgba(0, 0, 0, 0.123) solid 1px;
    box-shadow: rgba(0, 0, 0, 0.493) 5px 5px 5px;
}

.form-control {
    width: 400px;
}

.entrar{
    color: white;
    text-decoration: none;
}

.entrar:hover{
    color: white;
}

.duvidas {
    font-size: 15px; 
    margin-left: 350px;
}


@media screen and (max-width: 768px) {
    body {
        background-position-x:-50%;
        background-position-y: 200px;
    }

    .form {
        width: 80%;
        margin-left: 12%;
    }

    .form-control {
        width: none;
    }

    .duvidas {
        margin-left: 250px;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-position-x:-10%;
        background-position-y: 50%;
        background-size: 100%;
        
    }

    .form {
        width: 80%;
        margin-left: 12%;
        margin-bottom: 20%;
    }

    .form-control {
        width: none;
    }

    .duvidas {
        margin-left: 250px;
    }
}

@media screen and (max-width: 425px) {
    body {
        background-position-x:-10%;
        background-position-y: 50%;
        background-size: 100%;
        
    }

    .form {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 20%;
    }

    .form-control {
        width: none;
    }

    .duvidas {
        margin-left: 200px;
    }
}

@media screen and (max-width: 375px) {
    body {
        background-position-x:-10%;
        background-position-y: 50%;
        background-size: 100%;
        
    }

    .form {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 20%;
    }

    .form-control {
        width: none;
    }

    .duvidas {
        margin-left: 180px;
    }
}

@media screen and (max-width: 320px) {
    body {
        background-position-x:-10%;
        background-position-y: 50%;
        background-size: 100%;
        
    }

    .form {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 20%;
    }

    .form-control {
        width: none;
    }

    .duvidas {
        margin-left: 120px;
    }
}
